.navigator {
    background-color: #007ced;
    border-radius: 30px;
    height: calc(100% - 20px);
    width: calc(280px - 20px);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    .myImage {
        img {
            width: 150px;
            height: 150px;
            border-radius: 100px;
        }
        figcaption {
            background-color: #0062bb;
            color: white;
            font-weight: 600;
            text-align: center;
            border-radius: 12px;
            height: 23px;
            font-size: 17px;
        }
    }
    ul {
        color: #ffffffc4;
        list-style: none;
        font-size: 17px;
        padding: 0;
        width: 100%;
        li {
            height: 40px;
            margin-left: 25px;
            padding-left: 16px;
            line-height: 35px;
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
            margin-top: 10px;
            &:hover {
                background-color: white;
                color: #333333;
                transition: 0.2s ease-in;
            }
        }
    }
}
