.navigator {
    background-color: #007ced;
    border-radius: 30px;
    height: calc(100% - 20px);
    width: calc(280px - 20px);
    align-items: center;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    margin: 10px;
    padding-top: 50%;
    position: relative;
    .myImage {
        text-align: center;
        padding-bottom: 10%;
        img {
            width: 150px;
            height: 150px;
            border-radius: 100px;
        }
        figcaption {
            background-color: #0062bb87;
            color: white;
            font-weight: 500;
            text-align: center;
            border-radius: 12px;
            height: 26px;
            font-size: 17px;
            line-height: 25px;
            width: 172px;
        }
    }
    ul {
        color: #ffffffc4;
        list-style: none;
        font-size: 14px;
        padding: 0;
        width: 100%;
        li {
            display: flex;
            align-items: center;
            padding-right: 7px;
            height: 45px;
            margin-left: 25px;
            padding-left: 16px;
            line-height: 35px;
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
            margin-top: 10px;
            cursor: pointer;
            &.active {
                background-color: white;
                color: #333333;
                transition: 0.2s ease-in;
            }
            i {
                padding-right: 7px;
            }
        }
    }
    .social-media {
        padding: 0 40px;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 32px;
        color: white;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        i {
            cursor: pointer;
        }
        &::before {
            background: linear-gradient(to right, #007ced 0%, #ffffff 50%, #007ced 100%);
            position: absolute;
            left: 0;
            right: 0;
            height: 1px;
            width: 100%;
            content: "";
            top: -18px;
        }
    }
}
