<div class="navigator">
    <div class="myImage">
        <img src="assets/images/IMGcrop.jpg" alt="my image">
        <figcaption> Abhishek Anand</figcaption>
    </div>
    <ul>
        <li>
            <i class="fa fa-home"></i> HOME
        </li>
        <li>
            <i class="fa fa-home"></i> ABOUT
        </li>
        <li>
            <i class="fa fa-home"></i> SKILLS
        </li>
        <li>
            <i class="fa fa-home"></i> EXPERIENCE
        </li>
        <li>
            <i class="fa fa-home"></i> CONTACT
        </li>
    </ul>
</div>