<div class="navigator">
    <div class="myImage">
        <img src="assets/images/IMGcrop.jpg" alt="my image">
        <figcaption> Abhishek Anand</figcaption>
    </div>
    <ul>
        <li (click)="scrollTO('home')" [class.active]="currentSection == 'home'" #home>
            <i class="pi pi-home"></i>&nbsp; HOME
        </li>
        <li (click)="scrollTO('skills')" [class.active]="currentSection == 'skills'" #skills>
            <i class="fa fa-microchip" aria-hidden="true"></i>&nbsp; MY SKILLS
        </li>
        <li (click)="scrollTO('expertise')" [class.active]="currentSection == 'expertise'" #expertise>
            <i class="fa fa-graduation-cap" aria-hidden="true"></i> MY EXPERTISES
        </li>
        <!--<li>
            <i class="fa fa-home"></i> EXPERIENCE
        </li>
        <li>
            <i class="fa fa-home"></i> CONTACT
        </li> -->
    </ul>
    <div class="social-media">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <i class="fa fa-linkedin" aria-hidden="true"></i>
    </div>
</div>