<div class="container home-intro">
    <section class="section-1" id="home" #home>
        <div class="top">
            <div class="line-1">
                <div class="anim-typewriter">
                </div>
            </div>
            <div class='white'>
                <div class='squares'>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                </div>
            </div>
            <div class="center-image">
                <div class='squares'>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                </div>
                <img src="assets/images/IMGCrop2.jpg" alt="mt image">
                <div class="arrow">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class='white'>
                <div class='squares'>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                    <div class='square'></div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <h3> HI THERE!</h3>
            <h1> I'M ABHISHEK ANAND</h1>
            <p>Innovative Full Stack Developer with comprehensive experience in UI/UX Design, Front-end
                and Back-end development area with willingness to learn and master Angular and knowledge
                Management.</p>
            <div class="btns">
                <button pButton pRipple type="button" label="HIRE ME" class="p-button-rounded"></button>
                <a>Contact</a>
            </div>
        </div>
    </section>
    <section class="section-2" id="skills" #skills>
        <div class="whatiknow">
            <div class="line"></div>WHAT I KNOW
        </div>
        <div class="skills"> MY SKILLS</div>

        <!-- <div class="cards"> -->
        <div class="p-grid skill-grid">
            <div class="p-xl-4 p-lg-4 p-md-6 p-sm-12 p-pr-4">
                <div class="card">
                    <div class="icon"><i class="fa fa-laptop" aria-hidden="true"></i></div>
                    <div class="title">Web Development</div>
                    <p>
                        Modern and mobile-ready website to create a variety of successful websites.
                        Understanding of Responsive design works. And continuously test webpage for any possible errors.
                    </p>
                </div>
            </div>
            <div class="p-xl-4 p-lg-4 p-md-6 p-sm-12 p-pr-4">
                <div class="card">
                    <div class="icon"><i class="fa fa-terminal" aria-hidden="true"></i></div>
                    <div class="title">Backend Development</div>
                    <p>
                        Responsibility to handle server-side web application logic and integration of the front-end
                        works.
                        Handle the web services and API's to be used in front-end and mobile applications.
                    </p>
                </div>
            </div>
            <div class="p-xl-4 p-lg-4 p-md-6 p-sm-12 p-pr-4">
                <div class="card">
                    <div class="icon"><i class="fa fa-code" aria-hidden="true"></i></div>
                    <div class="title">UI/UX Design</div>
                    <p>
                        Creating user frinedly interface so that user can work flawlessly to either complex application
                        or technical products.
                    </p>
                </div>
            </div>
            <div class="p-xl-4 p-lg-4 p-md-6 p-sm-12 p-pr-4">
                <div class="card">
                    <div class="icon"><i class="fa fa-refresh" aria-hidden="true"></i></div>
                    <div class="title">Agile</div>
                    <p>
                        Understanding the requirement and taking responsibility for estimating the deadline and managing
                        the it with team collaboration.
                    </p>
                </div>
            </div>
            <div class="p-xl-4 p-lg-4 p-md-6 p-sm-12 p-pr-4">
                <div class="card">
                    <div class="icon"><i class="fa fa-codiepie" aria-hidden="true"></i></div>
                    <div class="title">Developer Testing</div>
                    <p>
                        Practice to unit testing my own code by creating and running through and automated unit tests
                        during development.
                    </p>
                </div>
            </div>
            <div class="p-xl-4 p-lg-4 p-md-6 p-sm-12 p-pr-4">
                <div class="card">
                    <div class="icon"><i class="fa fa-line-chart" aria-hidden="true"></i></div>
                    <div class="title">Analytics</div>
                    <p>
                        Collect, organize, visualize, and
                        assimilate data to see patterns, draw conclusions, and find solutions that can boost
                        productivity and company's bottom-line performance.
                    </p>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </section>
</div>