<div class="container">
    <section class="section-1">
        <div class="line-1">
            <div class="anim-typewriter">
            </div>
        </div>
        <div class='white'>
            <div class='squares'>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
            </div>
        </div>
        <div class="center-image">
            <!--   -->

            <div class='squares'>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
            </div>
            <img src="assets/images/IMGCrop2.jpg" alt="mt image">
        </div>
        <div class='white'>
            <div class='squares'>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
            </div>
        </div>
    </section>
</div>