<div class="container">
    <section>
        <div class='white'>
            <div class='squares'>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
            </div>
        </div>
        <div class="center-image">

            <div class='squares'>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
            </div>
            <img src="assets/images/IMG20201225162900.jpg" alt="mt image">
        </div>
        <div class='white'>
            <div class='squares'>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
                <div class='square'></div>
            </div>
        </div>
    </section>
</div>