/* You can add global styles to this file, and also import other style files */
// @font-face{
//     font-family: 'SourceSansPro';
//     src: url('assets/font/SourceSansPro/SourceSansPro-Light.ttf');
// }
@import "src/assets/styles/variable.scss";

@font-face {
    font-family: "Montserrat";
    src: url("assets/font/Montserrat/Montserrat-Regular.ttf");
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: #007ced;
    border-radius: 84px;
}
