.theme-light {
    --background-color: #ffffff;
    --font-color1: #000000;
    --font-color2: #37474f;
    --font-color3: #616161;
    --font-color4: #5f6f81;
    --font-color5: #333333;
    --font-color6: #ffffff;
    --font-color7: #616161;

    --faded-background-color: #ebebeb78;
    --box-color: #ebebeb;

    --border-color: #e0e0e0;

    --card-background-color: #ffffff;

    --side-nav-background: #007ced;
    --name-tile-color: #0062bb87;
    --selected-list-item-color: #ffffff;
}
.theme-dark {
    --background-color: #15161b;
    --font-color1: #ffffff;
    --font-color2: #bdbdbf;
    --font-color3: #8b8b92;
    --font-color4: #8b8b92;
    --font-color5: #ffffff;
    --font-color6: #8f9094;
    --font-color7: #ffffff;

    --faded-background-color: #74747a7a;
    --box-color: #303744;

    --border-color: #202029;

    --card-background-color: #202029;

    --side-nav-background: #1f2029;
    --name-tile-color: #15161b;
    --selected-list-item-color: #15161b;
}
